body {
  margin: 0;
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

header {
  display: flex;
  align-items: center;
  position: fixed;
  justify-content: space-between;
  z-index: 1;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid black;
  background-color: white;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 30px;
}

.logo span {
  color: MediumAquamarine;
  margin-left: 10px;
}

nav a {
  color: black;
}

header nav {
  padding-right: 40px;
  display: block;
}

header nav span {
  display: inline-block;
  padding: 20px 10px;
}

.content {
  display: flex;
  justify-content: center;
  width: 1232;
  margin: 0 auto 78px auto;
  padding-top: 116px;
}

.column.large {
  display: flex;
  width: 630px;
  flex-direction: column;
  margin-right: 32px;
}

.column.medium {
  display: flex;
  width: 300px;
  flex-direction: column;
  margin-right: 32px;
}

.column.small {
  display: flex;
  width: 240px;
  flex-direction: column;
}

.main-img.image-content {
  background-image: url(../images/img-story-main.png);
  text-align: left;
  margin-top: 0;
}

.lead-story .main-img.image-content span {
  font-size: 40px;
  text-align: left;
  margin: 10px;
}

.image-content {
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: center;
  font-weight: bold;


}

.image-content span {
  display: flex;
  color: white;
  font-size: 30px;
  font-family: Georgia;
  text-align: center;

}

.stories {
  display: flex;
  justify-content: space-between;
  margin-top: 17px;
}

.story {
  display: flex;
	flex-direction: column;
	width: 300px;
}

.narrative {
 margin-top: 16px;
 font-family: Georgia;
 font-size: 17px;
}



.fall-cancelled.image-content {
  background-image: url(../images/img-story-2.png);

}


.pop-culture.image-content {
  background-image: url(../images/img-story-3.png);

}

.cat-ceo.image-content {
  background-image: url(../images/img-story-1.png);


}

h2 {
  margin-top: 0;
    margin-bottom: 0;
    font-family: Georgia;
    font-size: 30px;
    font-weight: bold;
    font-style: normal;
}


.column.small {
  width: 240px;
}

.column {
  display: flex;
  flex-direction: column;
  margin-right: 32px;
}


.news-bites .bite {
    display: block;
    padding: 11px 20px;
    border-bottom: 1px solid black;
    background-color: WhiteSmoke;
    font-family: Verdana;
    font-size: 12px;
    color: DimGray;
  }

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: MediumAquamarine;
  margin: auto;
  font-family: Verdana;
  font-size: 12px;
  width: 100%;
  height: 325px;
}

footer .title {
  display: inline-block;
  padding-right: 25px;
  border-right: 2px solid white;
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;

}

nav span {
  display: inline-block;
  padding: 20px 10px;
}

footer nav {
  display: inline-block;
  padding-left: 25px;
}
